body, html {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

*,
*:before,
*:after { box-sizing: border-box; }

.red-yellow-bg {
    background-image:
    linear-gradient(
        red, #f06d06
    );
}

.dark-bg {
    background-color: #222;
}

.rainbow-bg {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

nav {
    position: fixed;
    width: 100%;
    z-index: 100;
    #menu {
        li {
            display: inline-block;
            margin-right: 15px;
            a:not(.logo) {
                color: #FFF;
                text-decoration: none;
                border: 2px solid #FFF;
                border-radius: 5px;
                padding: 3px 10px;
                transition: all 0.2s;
            }
            a.logo {
                font-size: 38px;
                vertical-align: middle;
                color: #FFF;
                font-family: 'Oleo Script', cursive;
                text-decoration: none;
                letter-spacing: 1px;
                margin-right: 10px;
            }
            &.active {
                a:not(.logo) {
                    background-color: #FFF;
                    color: #dc2743;
                }
            }
        }
    }
}

.page-header {
    background-image: url('../images/people.jpg');
    background-position: right;
    background-size: cover;

    .left-section, .right-section {
        width: calc(50% - 3px);
        display: inline-block;
        vertical-align: top;
        position: relative;
        height: 100%;
    }

    .left-section {
        .left-gradient {
            background: #f09433; 
            background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
            background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
            background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
            position: absolute;
            height: 100%;
            width: calc(100% + 275px);
            left: -275px;
            -webkit-transform: skew(-30deg);
            -moz-transform: skew(-30deg);
            -o-transform: skew(-30deg);
        }
        .left-text {
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -20%);
            h1 {
                width: 700px;
                font-size: 110px;
                text-transform: uppercase;
                color: #FFF;
                line-height: 1;
                margin-bottom: 15px;
                font-family: 'Ubuntu', sans-serif;
            }
            p {
                width: 600px;
                color: #FFF;
                font-size: 22px;
            }
            button {
                margin-top: 15px;
                border: 3px solid #FFF;
                font-size: 18px;
                background-color: transparent;
                color: #FFF;
                text-transform: uppercase;
                padding: 12px 35px;
                cursor: pointer;
                transition: all 0.2s;
                font-weight: bold;
                &:hover {
                    background-color: #FFF;
                    color: #dc2743;
                }
            }
        }
    }

    #artius-logo {
        position: absolute;
        top: 75%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -75%);
    }
}

.about-page {
    background-image: url('../images/cell-image.jpg');
    background-position: right;
    background-size: cover;
    position: relative;
}

.dark-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    top: 0;
}

.section-content {
    position: relative;
}

.section-header {
    h2 {
        font-size: 82px;
        color: #FFF;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Ubuntu', sans-serif;
    }
}

.section-icon {
    .gauge {
        width: 158px;
        height: 158px;
        margin: 50px auto;
        text-align: center;
        background: #dc2743;
        overflow: hidden;

        border-radius: 50%;
        border: 5px solid #fff;

        svg {
            margin:20px 0 0 0;
            background: #dc2743;
        }

        #needle {
            position: relative;
            transform: rotate(40deg);
            transform-origin: 63px 66px;
            -webkit-transform: rotate(40deg);
            -webkit-transform-origin: 63px 66px;

            animation: pegIt 3s infinite 1s ease-in-out;
            -webkit-animation: pegIt 3s infinite 1s ease-in-out;
        }
    }

    .target-container {
        width: 400px;
        height: 400px;
        margin: -120px auto -75px auto;
        position: relative;

        .arrow-wrapper, .target-wrapper {
            position: absolute;
            transform: translate(-50%,-50%);
            top: 50%;
            left: 50%;
        }


        .arrow-wrapper {
            animation: arrowhit 4s linear infinite;
            transform-origin: center left;
            transform: rotate(45deg) translate(-100%, -50%);
        }

        .arrow {
            width: 115px;
            height: 10px;
            background: #eee;
            position: relative;
            border-radius: 0.5rem;

            &:after {
                content: '';
                position: absolute;
                top: -50px*0.2;

                border-right: 50px*0.7 solid transparent;
                border-left: 50px*0.3 solid transparent;
                border-bottom: 50px*0.2 solid #f09433;

            }


            &:before {
                content: '';
                position: absolute;
                bottom: -50px*0.2;

                border-right: 50px*0.7 solid transparent;
                border-left: 50px*0.3 solid transparent;
                border-top: 50px*0.2 solid #f09433;

            }

        }

        .target {
            background: #f09433;
            border-radius: 100%;
            height: 158px;
            width: 158px;
            position: relative;
            border: 5px solid #FFF;

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                border-radius: 100%;
                border: 25px solid #eee;
                height: 95px;
                width: 95px;
                background: #f09433;
            }
        }
    }

    .recycle {
        width: 158px;
        height: 158px;
        margin: 50px auto;
        text-align: center;
        background: #51bbb5;
        overflow: hidden;

        border-radius: 50%;
        border: 5px solid #fff;

        svg {
            margin:35px 0 0 0;
            background: #51bbb5;

            transform:rotate(0deg);
            -webkit-transform:rotate(0deg);
            /*
            animation:flipIt 2s infinite 0s ease-in-out;
            -webkit-animation:flipIt 2s infinite 0s ease-in-out;
            */
        }

        #one {
            transform: translate(0px, 0px) rotate(0deg);
            transform-origin: 32px 27px;
            -webkit-transform: translate(0px, 0px) rotate(0deg);
            -webkit-transform-origin: 32px 27px;

            animation: mixItOne 2s infinite 1s ease-in-out;
            -webkit-animation: mixItOne 2s infinite 1s ease-in-out;
        }

        #two {
            transform: translate(64px, 36px) rotate(180deg);
            transform-origin: 32px 27px;
            -webkit-transform: translate(64px, 36px) rotate(180deg);
            -webkit-transform-origin: 32px 27px;

            animation: mixItTwo 2s infinite 1s ease-in-out;
            -webkit-animation: mixItTwo 2s infinite 1s ease-in-out;
        }

    }

    .graph {
        width: 158px;
        height: 158px;
        margin: 50px auto;
        text-align: center;
        background: #cc2366;
        overflow: hidden;

        border-radius: 50%;
        border: 5px solid #fff;

        #graph {
            position: relative;
            z-index: 1;
            width: 125px;
            height: 90px;
            margin: 30px auto 0;
        }

        #graph div {
            position: absolute;
            bottom: 16px;
            width: 9px;
            height: 10px;
            background: #fff;
        }

        #graph div:nth-child(n+1) {
            height:16px;
            left: 24px;

            animation: chartIt 4s infinite ease-in-out 0s;
            -webkit-animation: chartIt 4s infinite ease-in-out 0s;
        }

        #graph div:nth-child(n+2) {
            height:26px;
            left: 37px;

            animation: chartIt 4s infinite ease-in-out .25s;
            -webkit-animation: chartIt 4s infinite ease-in-out .25s;
        }

        #graph div:nth-child(n+3) {
            height:42px;
            left: 50px;

            animation: chartIt 4s infinite ease-in-out .5s;
            -webkit-animation: chartIt 4s infinite ease-in-out .5s;
        }

        #graph div:nth-child(n+4) {
            height:37px;
            left: 63px;

            animation: chartIt 4s infinite ease-in-out .75s;
            -webkit-animation: chartIt 4s infinite ease-in-out .75s;
        }

        #graph div:nth-child(n+5) {
            height:50px;
            left: 76px;

            animation: chartIt 4s infinite ease-in-out 1s;
            -webkit-animation: chartIt 4s infinite ease-in-out 1s;
        }

        #graph div:nth-child(n+6) {
            height:60px;
            left: 89px;

            animation: chartIt 4s infinite ease-in-out 1.25s;
            -webkit-animation: chartIt 4s infinite ease-in-out 1.25s;
        }

    }

    .fa {
        color: red;
        font-size: 180px;
        width: 100%;
        margin-bottom: 35px;
        margin-top: -20px;
        text-align: center;
    }
        
}

.section-text {
    color: #FFF;
    max-width: 700px;
    font-size: 22px;
    text-align: center;
    margin: 0 auto;
}

.footer {
    position: fixed;
    bottom: 20px;
    left: 20px;
    .left-section {
        float: left;
        img {
            width: 19px;
            vertical-align: middle;
            margin-right: 5px;
        }
        span {
            font-size: 14px;
            color: #FFF;
        }
    }
}


@keyframes pegIt {
  
  0% {
    transform: rotate(40deg);
  }
  
  16% {
    transform: rotate(-90deg);
  }
  
  25% {
    transform: rotate(90deg);
  }
  
  30% {
    transform: rotate(88deg);
  }
  
  36% {
    transform: rotate(92deg);
  }
  
  42% {
    transform: rotate(89deg);
  }
  
  50% {
    transform: rotate(91deg);
  }
  
  100% {
    transform: rotate(40deg);
  }
  
}

@-webkit-keyframes pegIt {
  
  0% {
    -webkit-transform: rotate(40deg);
  }
  
  16% {
    -webkit-transform: rotate(-90deg);
  }
  
  25% {
    -webkit-transform: rotate(90deg);
  }
  
  30% {
    -webkit-transform: rotate(88deg);
  }
  
  36% {
    -webkit-transform: rotate(92deg);
  }
  
  42% {
    -webkit-transform: rotate(89deg);
  }
  
  50% {
    -webkit-transform: rotate(91deg);
  }
  
  100% {
    -webkit-transform: rotate(40deg);
  }
  
}

@keyframes arrowhit {
  0% {
    left: 0%;
    top: 0%;
  }
  
  10% {
    top: 50%;
    left: 50%;
    transform: rotate(47deg) translate(-100%, -50%);
  }
  
  12% {
    transform: rotate(43deg) translate(-100%, -50%);
  }
  14% {
    transform: rotate(46deg) translate(-100%, -50%);
  }
  16% {
    transform: rotate(44deg) translate(-100%, -50%);
  }
  
  100% {
    top: 50%;
    left: 50%;
  }
}

@-webkit-keyframes arrowhit {
  0% {
    left: 0%;
    top: 0%;
  }
  
  5% {
    top: 50%;
    left: 50%;
    transform: rotate(47deg) translate(-100%, -50%);
  }
  
  6% {
    transform: rotate(43deg) translate(-100%, -50%);
  }
  7% {
    transform: rotate(46deg) translate(-100%, -50%);
  }
  8% {
    transform: rotate(44deg) translate(-100%, -50%);
  }
  
  100% {
    top: 50%;
    left: 50%;
  }
}

@keyframes flipIt {
  0% { transform: rotate(0deg); }
  45% { transform: rotate(0deg); }
  100% { transform: rotate(-180deg); }
}

@-webkit-keyframes flipIt {
  0% { -webkit-transform: rotate(0deg); }
  45% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(-180deg); }
}

@keyframes mixItOne {  
  0% { transform: translate(0px, 0px) rotate(0deg); }
  15% { transform: translate(15px, -6px) rotate(90deg); } 
  25% { transform: translate(64px, -6px) rotate(90deg); }  
  35% { transform: translate(64px, 10px) rotate(180deg); }
  45%,
  100% { transform: translate(64px, 36px) rotate(180deg); }
}

@-webkit-keyframes mixItOne {  
  0% { -webkit-transform: translate(0px, 0px) rotate(0deg); }
  15% { -webkit-transform: translate(15px, -6px) rotate(90deg); } 
  25% { -webkit-transform: translate(64px, -6px) rotate(90deg); }  
  35% { -webkit-transform: translate(64px, 10px) rotate(180deg); }
  45%,
  100% { -webkit-transform: translate(64px, 36px) rotate(180deg); }
}

@keyframes mixItTwo { 
  0% { transform: translate(64px, 36px) rotate(180deg); }
  15% { transform: translate(50px, 40px) rotate(270deg); }
  25% { transform: translate(0px, 40px) rotate(270deg); }
  35% { transform: translate(0px, 25px) rotate(360deg); }
  45%,
  100% { transform: translate(0px, 0px) rotate(360deg); }
}

@-webkit-keyframes mixItTwo { 
  0% { -webkit-transform: translate(64px, 36px) rotate(180deg); }
  15% { -webkit-transform: translate(50px, 40px) rotate(270deg); }
  25% { -webkit-transform: translate(0px, 40px) rotate(270deg); }
  35% { -webkit-transform: translate(0px, 25px) rotate(360deg); }
  45%,
  100% { -webkit-transform: translate(0px, 0px) rotate(360deg); }
}

@keyframes chartIt {
  0% { max-height:60px; }
  25% { max-height:0px; }
  50% { max-height:60px; }
}

@-webkit-keyframes chartIt {
  0% { max-height:60px; }
  25% { max-height:0px; }
  50% { max-height:60px; }
}
